
$body-bg: #F5F5F5!default;
$primary: #301E67!default;
$secondary: #B6EADA!default;
$body-color: #03001C!default;

$font-family-sans-serif: 'Raleway', sans-serif;
$font-family-monospace:'Great Vibes', cursive;
